<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.UserMapper">

  <cache />

  <insert id="addUser" parameterType="User">
    INSERT INTO ${tableName}
      (name)
    VALUES
      (#{name})
  </insert>
  
  <insert id="batchAddUser" parameterType="java.util.List">  
    INSERT INTO d3_user (name, PASSWORD, EMAIL)  
    VALUES   
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.name},#{item.password},#{item.email})  
    </foreach>
  </insert>
  
  <insert id="createTable" statementType="CALLABLE" parameterType="string">
  	{call CREATEPOSTABLE(  
       #{table_name, jdbcType=VARCHAR, mode=IN}
    )} 
  </insert>
  
  <select id="getDeptById" parameterType="int" resultType="string">
  	SELECT dname FROM dept WHERE deptno = #{id}
  </select>
  
  <select id="getAllTrackTables"  resultType="string">
  	select table_name from user_tables
  </select>
  
  <insert id="addTrack" parameterType="TrackBean">
    INSERT INTO TRACKS_FOR_01_45_39_61_03_34
      (DATETIME, LONGITUDE, LATITUDE, GPSSPEED, RECORERDSPEED,
       ANGLE, ALARMFLAG, HEIGHT, STATUS, OIL, VOLTAGE, MILES)
    VALUES
      (#{dateTime}, #{longitude}, #{latitude}, #{gpsSpeed}, #{recorerdSpeed}, #{angle}
      , #{alarmFlag}, #{height}, #{status}, #{oil}, #{voltage}, #{miles})
  </insert>
 
</mapper>